In [3]:
# Importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import plotly.express as px
import matplotlib.pyplot as plt
import missingno as msno
import statistics as stat

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import warnings
warnings.filterwarnings("ignore")

# Setting the pandas dataframe paramters
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 50)

# Load and displcay the data
df = pd.read_csv('World Happiness Report.csv')
df.head(3)

,Country Name,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357

In [29]:
pd.DataFrame(after_imputation_df)

,0,1,2,3,4,5,6,7,8,9,10
0,2008.0,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,2009.0,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,2010.0,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,2011.0,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,2012.0,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440
...,...,...,...,...,...,...,...,...,...,...,...
2194,2018.0,3.616480,7.783066,0.775388,52.625000,0.762675,-0.051219,0.844209,0.657524,0.211726,0.550508
2195,2019.0,2.693523,7.697755,0.759162,53.099998,0.631908,-0.047464,0.830652,0.658434,0.235354,0.456455
2196,2020.0,3.159802,7.596050,0.717243,53.575001,0.643303,0.006313,0.788523,0.660658,0.345736,0.577302
2197,2021.0,3.154578,7.656878,0.685151,54.049999,0.667636,-0.075575,0.756945,0.609917,0.241682,0.665703
2198,2022.0,3.296220,7.670123,0.666172,54.525002,0.651987,-0.069513,0.752632,0.640609,0.191350,0.709368

In [4]:
df.isna().sum()

Country Name                           0
Regional Indicator                   112
Year                                   0
Life Ladder                            0
Log GDP Per Capita                    20
Social Support                        13
Healthy Life Expectancy At Birth      54
Freedom To Make Life Choices          33
Generosity                            73
Perceptions Of Corruption            116
Positive Affect                       24
Negative Affect                       16
Confidence In National Government    361
dtype: int64

In [30]:
# Declaring the lists for columns names 
col_with_int_float_li = []
col_with_object_li = []


# Determing the type of column and sorting it into the respective list
for col_name, col_type in dict(df.dtypes).items():
    print(col_type)
    if "int" in str(col_type) or "float" in str(col_type):
        col_with_int_float_li.append(str(col_name))
    else:
        col_with_object_li.append(str(col_name))
        
        
df_with_int_and_float = df.drop(col_with_object_li, axis=1, inplace=False)
df_with_object = df.drop(col_with_int_float_li, axis=1, inplace=False)

object
object
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [32]:
cols_type_dict = dict(df.dtypes)

In [25]:
# Function to handle missing values for descrete data

from sklearn.impute import KNNImputer

before_imputation_df = df

imputer = KNNImputer(n_neighbors=2)
after_imputation_df = imputer.fit_transform(df_with_int_and_float)

after_imputation_df

array([[2.00800000e+03, 3.72358990e+00, 7.35041618e+00, ...,
        4.14297044e-01, 2.58195490e-01, 6.12072110e-01],
       [2.00900000e+03, 4.40177822e+00, 7.50864601e+00, ...,
        4.81421441e-01, 2.37092420e-01, 6.11545205e-01],
       [2.01000000e+03, 4.75838089e+00, 7.61389971e+00, ...,
        5.16906679e-01, 2.75323808e-01, 2.99357414e-01],
       ...,
       [2.02000000e+03, 3.15980220e+00, 7.59605026e+00, ...,
        6.60658062e-01, 3.45736384e-01, 5.77301860e-01],
       [2.02100000e+03, 3.15457821e+00, 7.65687847e+00, ...,
        6.09917223e-01, 2.41681874e-01, 6.65703177e-01],
       [2.02200000e+03, 3.29621959e+00, 7.67012262e+00, ...,
        6.40609264e-01, 1.91350296e-01, 7.09367692e-01]])

In [52]:
df_updated = pd.DataFrame()
for col_name, col_value in zip(df_with_int_and_float.columns, after_imputation_df):
    df_updated[col_name] = col_value
    
    
df_updated

,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,2008.000000,2009.000000,2010.000000,2011.000000,2012.000000,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000
1,3.723590,4.401778,4.758381,3.831719,3.782938,3.572100,3.130896,3.982855,4.220169,2.661718,2.694303
2,7.350416,7.508646,7.613900,7.581259,7.660506,7.680333,7.670638,7.653833,7.650370,7.647830,7.630801
3,0.450662,0.552308,0.539075,0.521104,0.520637,0.483552,0.525568,0.528597,0.559072,0.490880,0.507516
4,50.500000,50.799999,51.099998,51.400002,51.700001,52.000000,52.299999,52.599998,52.924999,53.250000,53.575001
5,0.718114,0.678896,0.600127,0.495901,0.530935,0.577955,0.508514,0.388928,0.522566,0.427011,0.373536
6,0.167652,0.190809,0.121316,0.163571,0.237588,0.062666,0.105755,0.081652,0.043916,-0.119410,-0.091106
7,0.881686,0.850035,0.706766,0.731109,0.775620,0.823204,0.871242,0.880638,0.793246,0.954393,0.927606
8,0.414297,0.481421,0.516907,0.479835,0.613513,0.547417,0.491641,0.491410,0.501409,0.435270,0.384561
9,0.258195,0.237092,0.275324,0.267175,0.267919,0.273328,0.374861,0.339276,0.348332,0.371326,0.404904
10,0.612072,0.611545,0.299357,0.307386,0.435440,0.482847,0.409048,0.260557,0.324990,0.261179,0.364666

In [53]:
df_updated.columns

Index(['Year', 'Life Ladder',
       'Log GDP Per Capita', 'Social Support',
       'Healthy Life Expectancy At Birth',
       'Freedom To Make Life Choices',
       'Generosity', 'Perceptions Of Corruption',
       'Positive Affect', 'Negative Affect',
       'Confidence In National Government'],
      dtype='object')

In [49]:
df_updated = pd.DataFrame(after_imputation_df)
df_updated = pd.DataFrame()
for col_name, col_value in zip(df_with_int_and_float.columns, after_imputation_df):
    df_updated[col_name] = col_value
    
    
for cols in df_updated.columns:
    print(cols)
    df_updated[cols] = df_updated[cols].astype(str(cols_type_dict[cols]))

0

KeyError: 0

In [42]:
for cols in df_updated.columns:
    print(str(cols_type_dict[cols]))

int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

In [40]:
cols_type_dict

{'Country Name': dtype('O'),
 'Regional Indicator': dtype('O'),
 'Year': dtype('int64'),
 'Life Ladder': dtype('float64'),
 'Log GDP Per Capita': dtype('float64'),
 'Social Support': dtype('float64'),
 'Healthy Life Expectancy At Birth': dtype('float64'),
 'Freedom To Make Life Choices': dtype('float64'),
 'Generosity': dtype('float64'),
 'Perceptions Of Corruption': dtype('float64'),
 'Positive Affect': dtype('float64'),
 'Negative Affect': dtype('float64'),
 'Confidence In National Government': dtype('float64')}